
body {

    /*background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/2.jpeg");*/
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 2.5rem;
}
.cards {
    margin-top: 40px;
    text-align: center;
    padding: 100px;
    font-size: 100%;
    word-wrap: break-word;
    border-color: black;
    background-color: rgba(250,250,250,1);
    width: 20%;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.6),0 2px 10px 0 rgba(0,0,0,0.12);
}

.nav-wrapper {
    background-color: #00695C;
}

#recentitems {
  margin-left: 8%;
}

.card_container {
    display: flex;
    flex-direction: row;
    align-items: 4;
    justify-content: center;
    margin-bottom: 4%;

}

.dropdown-content {
   overflow-y: visible;
}

.dropdown-content .dropdown-content {
   margin-left: 100%;
}

.teal h2 {
    font-size: 2em;
    text-align: center;
}


.list {
        line-height: 2em;
}

nav ul a {
    font-size: 1.2rem;
    font-weight: bolder;
}

input[type="submit"] {
    border-radius: 5px;
    /*border: 1px solid white;*/
    padding: 13px 20px;
    font-size: 1em;
    margin-top:10px;
    color: black;
    background: rgb(0, 102, 153);
    background: -webkit-linear-gradient(rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, .5));
    background: -moz-linear-gradient(rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, .5));
    background: -o-linear-gradient(rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, .5));
    background: linear-gradient(rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, .5));
}
input[type=text] {
     border-radius: 5px;
    /*border: 1px solid white;*/
    padding: 13px 20px;
    font-size: 1em;
    color: black;
    background: rgb(0, 102, 153);
    background: -webkit-linear-gradient(rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, .5));
    background: -moz-linear-gradient(rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, .5));
    background: -o-linear-gradient(rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, .5));
    background: linear-gradient(rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, .5));
}
input[type=email] {
     border-radius: 5px;
    /*border: 1px solid white;*/
    padding: 13px 20px;
    font-size: 1em;
    color: black;
    background: rgb(0, 102, 153);
    background: -webkit-linear-gradient(rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, .5));
    background: -moz-linear-gradient(rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, .5));
    background: -o-linear-gradient(rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, .5));
    background: linear-gradient(rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, .5));
}
button {
     border-radius: 5px;
    /*border: 1px solid white;*/
    padding: 13px 20px;
    font-size: 1em;
    color: black;
    background: rgb(0, 102, 153);
    background: -webkit-linear-gradient(rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, .5));
    background: -moz-linear-gradient(rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, .5));
    background: -o-linear-gradient(rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, .5));
    background: linear-gradient(rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, .5));
}
input[type=password] {
     border-radius: 5px;
    /*border: 1px solid white;*/
    padding: 13px 20px;
    font-size: 1em;
    color: black;
    background: rgb(0, 102, 153);
    background: -webkit-linear-gradient(rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, .5));
    background: -moz-linear-gradient(rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, .5));
    background: -o-linear-gradient(rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, .5));
    background: linear-gradient(rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, .5));
}
select{
	 border-radius: 5px;
    /*border: 1px solid white;*/
    padding: 13px 20px;
    font-size: 1em;
    color: black;
	
    background: rgb(0, 102, 153);
    background: -webkit-linear-gradient(rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, .5));
    background: -moz-linear-gradient(rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, .5));
    background: -o-linear-gradient(rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, .5));
    background: linear-gradient(rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, .5));

}

.admin_button {
    margin-left: 88%;
    margin-top: -111px;
    margin-bottom: 91px;
}


.header {
    background-color: #00695C;
    padding-bottom: 1px;
}

/* table */

.table_layout {
    background-color: white;
    border: #000000;
    margin-top: 2%;
}

td, th {
    padding: 19px;
    font-size: 117%;
    text-align: center;

}
img {
    width: 125px;
    padding: 5px;
    padding-left: 17%;
}


.add_user{
    margin-top: 10%;
}

.brand_logo{

}

.modify_user{
    margin-top: 20px;
}

.card-panel {
    margin-top: 30%;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.teal {
    background-color: white !important;
}

/* Flexible design */
@media screen and (max-width: 1024px) {

    .admin_button {
    margin-left: 46%;
    margin-top: 0px;
    margin-bottom: 17px;
}

}
