/*
Dark Primary Color - #0288D1
Primary Color - #03A9F4
Light Primary Color - #B3E5FC
Text/Icons Color - #FFFFFF
Accent Color - #8BC34A
Primary Text color - #212121
Secondary Text Color - #757575
Border Color - #BDBDBD
*/
html {
  position: relative;
  min-height: 100%;
}

.navbar-default{
    background-color: #03A9F4;
}


.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fefefe;
    background-color: #0288D1;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fefefe;
}

.navbar-nav>li:hover {
    background-color: #0288D1;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #0288D1;
    color: #ffffff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #0288D1;
    color: white;
}

a {
    color: #ffffff;
    font-weight: 500;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.navbar-header .navbar-brand {
    color: #FFFFFF;
    font-weight: 900;
}

.navbar-default .navbar-nav>li.active>a {
    font-weight: 700;
    color: #ffffff;
    background-color: #0288D1;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

.footer-separator {
    margin-bottom: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 20px 0;
    width: 100%;
    background-color: #03A9F4;
}

.footer-link {
    font-size: 20px;
}

footer > * {
    color: #FFFFFF;;
    font-weight: 500;
}

input {
    margin-bottom: 10px;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
    margin-top: 20px;
}

.mv {
    border: 1px solid #8BC34A;
    padding: 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #8BC34A;
    margin: 5px 0 5px 0;
}

.mv:hover > * > i {
    color: #03A9F4;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.mv > * {
    color: #ffffff;
}

.mv-type {
    font-size: 20px;
    margin-right: 10px;
}

video {
    max-width: 100%;
    max-height: 80vh;
}

button > a:hover {
    text-decoration: none;
}