<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MediaVault | Change Password</title>
</head>
<body>
{% for error in errors %}
    {{ error }}
{% endfor %}
{% for message in messages %}
    {{ message }}
{% endfor %}
<form method="post">
    {% csrf_token %}
    <input type="password" name="old" placeholder="Old Password" required="required">
    <input type="password" name="new" placeholder="New Password" required="required">
    <input type="password" name="repeat" placeholder="Repeat Password" required="required">
    <input type="submit" name="change">
</form>
</body>
</html>