{% extends "base.html" %}
    {% block main_body %}
        {% for error in errors %}
            <div class="text-center">
                <span class="alert alert-danger">{{ error }}</span>
            </div>
        {% endfor %}
        {% for message in messages %}
            <div class="text-center">
                <span class="alert alert-info">{{ message }}</span>
            </div>
        {% endfor %}
        <form method="post" style="margin-top: 30px;">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
                    <input type="password" name="old" placeholder="Old Password" required="required" class="form-control">
                    <input type="password" name="new" placeholder="New Password" required="required" class="form-control">
                    <input type="password" name="repeat" placeholder="Repeat Password" required="required" class="form-control">
                    <div class="text-center">
                        <input type="submit" name="change" class="btn btn-success" value="Change Password">
                    </div>
                </div>
                </div>
        </form>
    {% endblock %}
