<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MediaVault | Change Password</title>
    <link rel="stylesheet" href="/static/css/materialize.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/css/home.css" type="text/css" media="all">

</head>
<body>
<div class="header">
    <center>
        <h1 style="display: inline-block; color:white;vertical-align: middle;">MediaVault - Change Password</h1>
    </center>
</div>


<ul id="dropdown1" class="dropdown-content">
    <li><a href="/shared-items">Manage Files</a></li>
    <li><a class="dropdown-button" href="/master/user" data-activates="dropdown4">Manage Users<i
            class="material-icons right"></i></a></li>

    <ul id="dropdown4" class="dropdown-content">
        <li><a href="//master/user/add">Add User</a></li>
        <li><a href="/master/user/modify">Modify User</a></li>
        <li><a href="/master/user/reset">Reset Password</a></li>
    </ul>
</ul>

<ul id="dropdown2" class="dropdown-content">
    <li><a href="/change-password">Change Password</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>

<ul id="dropdown3" class="dropdown-content">
    <li><a href="/online">Online Media</a></li>
</ul>


<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><img src="/static/images/logo2.png"
                                             style="display:inline-block;vertical-align: middle;"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="/">Home</a></li>
            <li><a href="/explore">Explore</a></li>
            <li><a href="/suggestions">Suggestions</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Master Access<i
                    class="material-icons right"></i></a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Account<i
                    class="material-icons right"></i></a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown3">More<i class="material-icons right"></i></a>
            </li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a href="/#!">Home</a></li>
            <li><a href="/explore">Explore</a></li>
            <li><a href="/suggestions">Suggestions</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Master Access<i
                    class="material-icons right"></i></a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Account<i
                    class="material-icons right"></i></a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown3">More<i class="material-icons right"></i></a>
            </li>
        </ul>
    </div>
</nav>
{% for error in errors %}
    {{ error }}
{% endfor %}
{% for message in messages %}
    {{ message }}
{% endfor %}
<form method="post" style="margin-top: 30px;">
    {% csrf_token %}
    <div class="row">
        <div class="col offset-s2 s8 offset-m4 m4 offset-l4 l4">
            <label for="password">Old Password</label>
            <input id="password" type="password" name="old" placeholder="Old Password" required="required"
                   class="validate">
            <label for="new">New Password</label>
            <input id="new" type="password" name="new" placeholder="New Password" required="required" class="validate">
            <label for="repeat">Repeat Password</label>
            <input id="repeat" type="password" name="repeat" placeholder="Repeat Password" required="required"
                   class="validate">
            <div class="center">
                <input type="submit" name="change">
            </div>
        </div>
    </div>
</form>
<script src="/static/js/jquery-2.1.4.js"></script>
<script src="/static/js/materialize.js"></script>
<script src="/static/js/script.js"></script>

</body>
</html>