<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MediaVault | Explore</title>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all">
    <style>
    
	body { 
	  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../static/images/2.jpeg") no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}
	</style>
</head>
<body>
<center>
	<img src="/static/images/logo1.png" style="display:inline-block;vertical-align: middle;">
	<h1 style="display: inline-block; color:white;vertical-align: middle;">MediaVault - Explore</h1>
</center>
<div style="color:white; margin-top:2px; margin-left:400px;">

	{% for item in items %}
	{% if item.type.type == 'Directory' %}
	<li style="font-size: 27px;margin-top:10px;"><a href="/explore/{{item.id}}" style="color:white;">{{ item.name }}</a></li>
	{% else %}
	<li style="font-size: 27px;"><a href="/media/{{item.id}}" style="color:white;">{{item.name}}</a></li>
	{% endif %}
	{% endfor %}
</div>

</body>
</html>
