<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MediaVault | Home</title>
    <link rel="stylesheet" href="/static/css/home.css" type="text/css" media="all">

</head>
<body>
    <div class="header">
    <center>
	<img src="/static/images/logo1.png" style="display:inline-block;vertical-align: middle;">
	<h1 style="display: inline-block; color:white;vertical-align: middle;">MediaVault - Home</h1>

    </center>
    </div>
    <div class="admin_button" >
        <input type="submit"  name="admin" value="Master User" >
    </div>

    <div class="card_container">
        <div class="card" id="Recommendations for you">
            <h1>Suggestions</h1>
            Ndd fkkno fifojo m foijjio ckof cqfiojqi ,modIDN FFJFIJ jnnc foncc fejioj shjs dshfih dDUHUD  DIohinf fajfaf
            jo m foijjio ckof cqfiojqi ,modIDN FFJFIJ jnnc foncc fejioj shjs dshfih dDUHUD  DIohinf fajfaf
        </div>

        <div class="card" id="recentitems">
            <h1>Recent Medias</h1>
            Jo m foijjio ckof cqfiojqi ,modIDN FFJFIJ jnnc foncc fejioj shjs dshfih dDUHUD  DIohinf fajfaf jo m foijjio ckof cqfiojqi
            modIDN FFJFIJ jnnc foncc fejioj shjs dshfih dDUHUD  DIohinf fajfaf
        </div>
    </div>
    <center>
        <span class="media_button">
            <input type="submit"  name="media" value="Browse Media" >
        </span>
    </center>


</body>
</html>
