{% extends "base.html" %}
{% block main_body %}
    <div class="text-center">
        {% for message in messages %}
            <div>
                    <span class="label label-info">
                        {{ message }}
                    </span>
            </div>
        {% endfor %}
        {% for message in errors %}
            <div>
                    <span class="label label-info">
                        {{ message }}
                    </span>
            </div>
        {% endfor %}
    </div>
    <div class="container">
    <form target="" method="post" class="text-center">
        {% csrf_token %}
        <input type="text" name="location" placeholder="Path to Add"
               required="required" class="form-control">
        <label class="pull-left">Accessible to</label>
        <select name="permission" class="form-control">
            <option value="all">Everyone</option>
            <option value="admin">Admins Only</option>
            <option value="self">Only You (Current User)</option>
        </select><br/>
        <input type="submit" name="add" class="btn btn-success">
    </form>
    <div style="margin-top: 60px;">
        {% for item in items %}
            {{ item.manage_html|safe }}
        {% endfor %}
    </div>

    </div>
{% endblock %}
