<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MediaVault | Master | User Management | Add User</title>
     <link rel="stylesheet" href="/static/css/home.css" type="text/css" media="all">

</head>

<body>
<div class="header">
    <center>
	<img src="/static/images/logo1.png" style="display:inline-block;vertical-align: middle;">
	<h1 style="display: inline-block; color:white;vertical-align: middle;">MediaVault - Add User</h1>

    </center>
 </div>
{% if number_of_errors > 0 %}
{% for error in errors %}
{{error}}
{% endfor %}
{% endif %}
{% if number_of_messages > 0 %}
{% for error in messages %}
{{error}}
{% endfor %}
{% endif %}
<center>
<div style="background-color: white;height:350px;width:300px;border:solid;border-radius: 5px;margin-top:40px; " >
<form method="post">
    {% csrf_token %}
    <div style="float:left; margin-top:20px;margin-left:20px;">
    <label for="username" style="float:left;font-size: 20px;">Username:</label><br/>
    <input type="text" name="username" placeholder="Username" required><br/>
    <label for="username" style="float:left; font-size: 20px;margin-top:10px;">Password:</label><br/>
    <input type="password" minlength="8" name="password" placeholder="Password"
           required><br/>
    <label for="username" style="float:left; font-size: 20px;margin-top:10px;">Email: </label><br/>       
    <input type="email" name="email" placeholder="Email Address" required><br/>

    <label style="margin-top:20px;">Create as Master User
        <input type="checkbox" name="is_superuser" value="Y">
    </label><br/>
    <input type="submit" name="create">
    </div>
</form>
</div>
</center>
</body>
</html>