<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MediaVault | User Management | Modify User</title>
    <link rel="stylesheet" href="/static/css/home.css" type="text/css" media="all">
</head>
<body>
<div class="header">
    <center>
	<img src="/static/images/logo1.png" style="display:inline-block;vertical-align: middle;">
	<h1 style="display: inline-block; color:white;vertical-align: middle;">MediaVault - Modify User</h1>

    </center>
</div>
{% if number_of_errors > 0 %}
{% for error in errors %}
{{error}}
{% endfor %}
{% endif %}
{% if number_of_messages > 0 %}
{% for error in messages %}
{{error}}
{% endfor %}
{% endif %}

<center>
<div style="background-color: white;height:350px;width:300px;border:solid;border-radius: 5px;margin-top:40px; " >
<div style="float:left; margin-top:20px;margin-left:20px;">
<form method="post">
    {% csrf_token %}
    <label for="username" style="float:left;font-size: 20px;">Remove User</label><br/><br/>
    <select name="id_remove">
        {% for user in all_users %}
        <option value="{{user.id}}">{{user.username}}</option>
        {% endfor %}
    </select>
    <input type="submit" name="remove_user">
</form>
<form method="post">
    {% csrf_token %}
    <label for="username" style="float:left;font-size: 20px;">Make Master</label><br/><br/>
    <select name="id_make_master">
        {% for user in others %}
        <option value="{{user.id}}">{{user.username}}</option>
        {% endfor %}
    </select>
    <input type="submit" name="make_master">
</form>
<form method="post">
    {% csrf_token %}
    <label for="username" style="float:left;font-size: 20px;">Remove Master</label><br/><br/>
    <select name="id_remove_master">
        {% for user in admins %}
        <option value="{{user.id}}">{{user.username}}</option>
        {% endfor %}
    </select>
    <input type="submit" name="remove_master">
</form>
</div>
</div>
</center>
</body>
</html>