<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MediaVault | Master | User Management</title>
    <link rel="stylesheet" href="/static/css/home.css" type="text/css" media="all">
</head>
<body>
<div class="header">
    <center>
	<img src="/static/images/logo1.png" style="display:inline-block;vertical-align: middle;">
	<h1 style="display: inline-block; color:white;vertical-align: middle;">MediaVault - Home</h1>

    </center>
</div>
<center>
    <div class="add_user">
    <a href="/master/user/add">
        <input type="submit" name="add" value="Add User" >
    </a>
    </div>
<br/>
    <div class="modify_user">
    <a href="/master/user/modify">
        <input type="submit" name="modify" value="Modify User" >
    </a>
    </div>
<br/>
    <div class="modify_user">
    <a href="/master/user/reset">
        <input type="submit" name="modify" value="Reset User Passwords" >
    </a>
    </div>
</center>

</body>
</html>