<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MediaVault | Master | User | Reset Password</title>
</head>
<body>
{% for message in messages %}
    {{ message }}
{% endfor %}
<form method="post">
    {% csrf_token %}
    <input type="password" name="passwprd" placeholder="Password" required="required">
    <select name="id">
        {% for user in users %}
        <option value="{{ user.id }}">{{ user.username }}</option>
        {% endfor %}
    </select>
    <input type="submit" name="reset" value="Reset Password">
</form>
</body>
</html>