{% extends "base.html" %}
{% block main_body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-10">
                <div><b>Item Name:</b> {{ item.name }}</div>
                <div><b>Item Path on Host:</b> {{ item.path }}</div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 pull-">
                <form method="post" class="pull-right">
                    {% csrf_token %}
                    <input type="submit" name="remove" value="Delete Item"
                           class="btn btn-danger">
                </form>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <h3>Grant Permission</h3>
            <select name="user_add_id" class="form-control">
                {% for user in other_users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
            <input type="submit" name="add-permission" value="Add Permission"
                   class="btn btn-success">
        </form>
        <form method="post">
            {% csrf_token %}
            <h3>Remove Permission</h3>
            <select name="user_remove_id" class="form-control">
                {% for user in allowed_users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
            <input type="submit" name="remove-permission"
                   value="Remove Permission" class="btn btn-success">
        </form>

        {% if children %}
            <h3>Children to this item - </h3>
            {% for child in children %}
                {{ child.manage_html|safe }}
            {% endfor %}
        {% endif %}

    </div>
{% endblock %}