{% extends "base.html" %}
{% block main_body %}
    <div class="container">
        <table class="table table-responsive">
            <thead>
            <tr>
                <td>Suggested Media</td>
                <td>Suggested By</td>
                <td>Suggestion Time</td>
            </tr>
            </thead>
            <tbody>
            {% for i in suggestions %}
                <tr>
                    <td>{{ i.item.html|safe }}</td>
                    <td>{{ i.from_user.username }}</td>
                    <td>{{ i.time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
